export LOCAL_PATH=`pwd`


export HELIX_SOURCE_DIR=${LOCAL_PATH}
export HELIX_BINARY_DIR=${LOCAL_PATH}/build

export HELIX_EXT_DIR=${HELIX_SOURCE_DIR}/external
export HELIX_SCRIPTS_DIR=${HELIX_SOURCE_DIR}/scripts

export HELIX_SYSROOT=${HELIX_BINARY_DIR}/sysroot
export HELIX_PREFIX=${HELIX_SYSROOT}/usr